{% extends 'base.html' %}
{% block content %} 
<article>
	<header>
		<h1>kn0wl463 f0r u5</h1>
		<h1>This is <em>the best</em> dedicated storage site for students.</h1>
		<aside>And it’s perfect.</aside>
	</header>
	<h2>Seriously, what the else do you want?</h2>
	<p>You keep forgetting. Let me describe the perfect dedicated storage site for students:
	<ul>
		<li>Free both as in speech and as in beer.
		<li>Lightweight and loads fast.
		<li>Fits on all your screens.
		<li>Looks the same in all your browsers.
		<li>Accessible to every one that visits this site.
		<li>Share knowlage with everybody.
		<li>All sources confirmed.
		<li>Advanced document search.
		<li>Search document by words from inside the document.
		<li>Search by institution faculties lecturers courses and year and if it not enough - search by free text.
	</ul>
    <h3>Our mission:</h3>
    <p>One day, all students in this nation will have the opportunity to attain an excellent education. Realizing the full potential of the internet -- universal access to research and education, full participation in culture -- to drive a new era of development, growth, and productivity.
    <h3>Our vision:</h3>
    <p> 100, The best deserve 100 no more than that. we used docker jenkins jιяα selenium web scraping with browser drivers and pytest.
	<p>open-source open reduce/map SSL bare-metal NoSQL core-oriented dependency browser module extension-aware solution test metadata cache planet-scale-aware engine-oriented element.
    <h3>κηοωℓαgε ƒοя μs</h3>
	<a id="link" href="https://github.com/avirois/Knowledge4S">github repository</a>
</article>
{% endblock %}
