{% extends 'base.html' %}
{% block content %}
<style>
.button { width: 300px; background-color: #008CBA; border: none; color: #008CBA; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; transition-duration: 0.4s;}
.button1 { background-color: #008CBA; color: white; border: 2px solid #008CBA; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.button1:hover { background-color: white; color: black; }
</style>
    <p>
        <h1>Control panel</h1>
    </p>
    <div>
        <a href="/manage_institutions" id="instCreate"><button class="button button1">Manage Institutions</button></a>
        <a href="/manage_faculties" id="manageFaculties"><button class="button button1">Manage Faculties</button></a>
    </div>
    </br>
    <div>
        <a href="/manage_courses" id="manageCourses"><button class="button button1">Manage Courses</button></a>
        <a href="/manage_users" id="usersManage" name="usersManage"><button class="button button1">Manage Users</button></a>
    </div>
    </br>
    <div>
        <a href="/manage_lecturers" id="manageLecturers"><button class="button button1">Manage Lecturers</button></a>
    <!-- Pre approved files -->
    <div>
        <p><h1>Preapproved file</h1></p>
        {% for res in data %}
            {% if loop.index % 2 == 0 %}
            <div class="fileitem" style="background:#F6F7F2;">
            {% else %}
            <div class="fileitem" style="background:#EDF9FF;">
            {%endif%}
            <span id="FileTitle"><a href="/view?id={{res[0]}}" style="color:#1b1b1b;">{{res[2]}}</a></span> <span id="FileDesc"> {{res[5]}} / {{res[6]}} / {{res[7]}}</span><br />
            <p>{{res[3]}}</p> 
            </div> 
        {% endfor %}
    </div>
{% endblock %}
