
{% extends 'base.html' %}


{% block content %}
<style>
.button { width: 200px; background-color: #008CBA; border: none; color: #008CBA; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; transition-duration: 0.4s;}
.button1 { background-color: #008CBA; color: white; border: 2px solid #008CBA; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.button1:hover { background-color: white; color: black; }
</style>
<p>    
    <h1>Change bio of {{data}}'s user</h1>
    <b> {{ massage }} </b>
    <p>
    <form action="/edit_bio/{{data}}" method="POST">
        <p>Username: <input type="text" name="username" size="20" value="{{user.getUsername()}}" disabled/></p>
        <p><span style="color:red">*</span> First name: <input type="text" name="fName" size="20" value="{{user.getFName()}}"/></p>
        <p><span style="color:red">*</span> Last name: <input type="text" name="lName" size="20" value="{{user.getLName()}}"/></p>
        <p>Email: <input type="text" name="email" size="20" value="{{user.getEmail()}}"/></p>
        <p><span style="color:red">*</span> Institution : 
        <select name="institution" id="institution"> 
            <option value="">Select Institution!</option>
            {% for istitution in institutions %}
                {% if istitution[0] == user.getInstitutionID() %}
                    <option value="{{istitution[0]}}" selected>{{istitution[1]}}</option>
                {% else %}
                    <option value="{{istitution[0]}}">{{istitution[1]}}</option>
                {% endif %}
            {% endfor %}   
        </select>
        </p>
        <p><span style="color:red">*</span> Faculty : 
        <select name="faculty" id="faculty">
            <option value="">Select Faculty!</option>
        </select>
        </p>
        <p>Study year: <input type="number" name="year" min="1" max="10" value="{{user.getStudyYear()}}"></p>
        <input type="submit" class="button button1"/>
    </form>
    </p>
</p>
<script>
institution_select = document.getElementById('institution');
faculty_select = document.getElementById('faculty');

institution_select.onchange = function() {
    inst = institution_select.value;
    
    if (inst == "") {
        optionHTML = '<option value="">Select Faculty!</option>';
        faculty_select.innerHTML = optionHTML;
    }
    else {
        fetch('/faculties/' + inst).then(function(response) {
        response.json().then(function(data){
            optionHTML = '<option value="">Select Faculty!</option>';

            for (fac of data.facInst) {
                optionHTML += '<option value="' + fac.facID + '">' + fac.facName + '</option>'
            }
            faculty_select.innerHTML = optionHTML;
        });
    });  
    }
}

window.onload = function loadFaculties(){
        inst = institution_select.value;
        fetch('/faculties/' + inst).then(function(response) {
            response.json().then(function(data){
                optionHTML = '<option value="">Select Faculty!</option>';
                for (fac of data.facInst) {
                    if (fac.facID == {{user.getFacultyID()}})
                    {
                        optionHTML += '<option value="' + fac.facID + '" selected>' + fac.facName + '</option>'    
                    }
                    else
                    {
                        optionHTML += '<option value="' + fac.facID + '">' + fac.facName + '</option>'
                    }
                }
                faculty_select.innerHTML = optionHTML;
            });
        });
}
</script>
{% endblock %}