{% extends 'base.html' %}
{% block content %} 
<form name="add" action="/add_lecturer" method="POST">
    <p>Institutions:
    <select onchange="onAddSelection()" name="institutions" id="addinstitutions" >
        <option value="select">select</option>
        {% for opt in institutions%}
        <option value="{{opt}}">{{opt}}</option>
        {% endfor %}                                              
    </select>
    </p>
    <p>Faculties:
    <select onchange="onAddSelection()" name="faculties" id="addfaculties" >
        <option value="select">select</option>
        {% for opt in faculties%}
        <option value="{{opt}}">{{opt}}</option>
        {% endfor %}                                              
    </select>
    </p>
    <p>Name: <input type="text" name="Lecturers Name" value="" /></p>
    <input type="submit" value="add" name="send"/>
</form>
<form name="remove" action="/remove_lecturer" method="POST">
    <p>Institutions:
    <select onchange="onRemoveSelection()" name="institutions" id="removeinstitutions" >
        <option value="select">select</option>
        {% for opt in institutions%}
        <option value="{{opt}}">{{opt}}</option>
        {% endfor %}                                              
    </select>
    </p>
    <p>Faculties:
    <select onchange="onRemoveSelection()" name="faculties" id="removefaculties" >
        <option value="select">select</option>
        {% for opt in faculties%}
        <option value="{{opt}}">{{opt}}</option>
        {% endfor %}                                              
    </select>
    </p>
    <p>Lecturers:
    <select onchange="onRemoveSelection()" name="lecturers" id="removelecturers" >
        <option value="select">select</option>
        {% for opt in lecturers%}
        <option value="{{opt}}">{{opt}}</option>
        {% endfor %}                                              
    </select>
    </p>
    <input type="submit" value="remove" name="send"/>
</form>
{% if success == "success" %}
  <p> success
{% elif success == "fail" %}
  <p> fail
{% else %}
{% endif %}
<script>
"use strict";
const addSelectors = {
    institutions: document.getElementById("addinstitutions"),
    faculties: document.getElementById("addfaculties"),
};

const removeSelectors = {
    institutions: document.getElementById("removeinstitutions"),
    faculties: document.getElementById("removefaculties"),
    lecturers: document.getElementById("removelecturers"),
};

function createOption(text, value) {
    let objOption = document.createElement("option");
    objOption.text = text;
    objOption.value = value;
    return objOption;
}

function deleteOptions(selector) {
    selector.options.length = 0;
}

async function updateSelecions(currentSelections, selectors){
    let response = await fetch("/fetch/selection", {
        method: "POST",
        headers: {
            "Content-Type": "application/json;charset=utf-8",
        },
        body: JSON.stringify(currentSelections),
    });

    let result = await response.json(); // read response body and parse as JSON

    for (const sel in selectors) {
        deleteOptions(selectors[sel]);
    }

    for (const sel in selectors) {
        selectors[sel].options.add(createOption("select", "select"));
    }

    for (const sel in result) {
        for (const option of result[sel]) {
            if(selectors.hasOwnProperty(sel)){
                selectors[sel].options.add(createOption(option, option));
            }
        }
    }

    for (const sel in selectors) {
        let index = 0;
        const to_select = currentSelections[sel];
        for (const opt of selectors[sel].options) {
            if (opt.value === to_select) index = opt.index;
        }
        selectors[sel].selectedIndex = index;
    }
}

async function updateAddSelecions() {
    const currentSelections = {
        institutions: addSelectors.institutions.options[addSelectors.institutions.selectedIndex].value,
        faculties: addSelectors.faculties.options[addSelectors.faculties.selectedIndex].value,
    };
    return await updateSelecions(currentSelections, addSelectors)
}

async function updateRemoveSelecions() {
    const currentSelections = {
        institutions: removeSelectors.institutions.options[removeSelectors.institutions.selectedIndex].value,
        faculties: removeSelectors.faculties.options[removeSelectors.faculties.selectedIndex].value,
        lecturers: removeSelectors.lecturers.options[removeSelectors.lecturers.selectedIndex].value,
    };
    return await updateSelecions(currentSelections, removeSelectors)
}

function onAddSelection() {
    new Promise((resolve, reject) => {
        updateAddSelecions();
        resolve();
    });
}

function onRemoveSelection() {
    new Promise((resolve, reject) => {
        updateRemoveSelecions();
        resolve();
    });
}
</script>
{% endblock %}

