{% extends 'base.html' %}

{% block content %}
<style>
.buttonRedEdit { width: 100px; height: 50px; background-color: #C70039; border: none; border-radius:50%; color: #C70039; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; transition-duration: 0.4s;}
.buttonRedHover { background-color: #C70039; color: white; border: 2px solid #C70039; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.buttonRedHover:hover { background-color: white; color: black; }
.buttonGreenEdit { width: 100px; height: 50px; background-color: #5F9EA0; border: none; border-radius:50%; color: #5F9EA0; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; transition-duration: 0.4s;}
.buttonGreenHover { background-color: #5F9EA0; color: white; border: 2px solid #5F9EA0; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.buttonGreenHover:hover { background-color: white; color: black; }
th { text-align: center; }
tr { text-align: center; }
</style>
<h1 name="titleFiles">Files:</h1>
<p>
    {{ massage }}
    <div>
    <table style="width:100%">
        <tr>
            <th>File</th>
            <th>File Name</th>
            <th>Date Upload</th>
            <th>Date Modified</th>
            <th>Approved/Declined File</th>
        </tr>
        {% for file in files %}                     
            <tr>
                <td>{{loop.index}}</td>
                <td>{{file[1]}}</td>
                <td>{{file[2]}}</td>
                <td>{{file[3]}}</td>
                <td>False</td>
            </tr>
        {% endfor %} 
        </table>
    </div>
</p>
{% endblock %}