{% extends 'base.html' %}
{% block content %} 
    <p>
        <span id="FileTitle">{{data['title']}}</span> 
        <span id="FileDesc">{{data['inst']}} / {{data['facu']}} / {{data['course']}}</span>
        <span id="FileDate">{{data['date']}}</span>
        <span id="FileUser"><a href="/user/{{data['username']}}">{{data['username']}}</a></span>
        <p>{{data['desc']}}</p>
    </p>

    <iframe src="storage/{{data['id']}}.{{data['type']}}" style="width:100%;height:500px;"> </iframe>
    <a href="storage/{{data['id']}}.{{data['type']}}" download>Download</a>

    <p>
        <h1>Comments</h1>
        {% if session['username'] %} 
        <form method="POST" action="/view">
            <input type="text" name="file_id" value="{{data['id']}}" hidden>
            <textarea style="width:100%;" name="comment" style="max-width:100%;"></textarea>
            <button type="submit" value="submit" id="flat_button">Submit</button>
        </form>
        {% endif %}
        <p>
            {% for row in data['comments'] %}
                <div id="comment"><span id="FileUser"> <a href="user/{{row[0]}}">{{row[0]}}</a> || {{row[1]}}</span> <br/>{{row[2]}}</div>
            {% endfor%}
        </p>

    </p>
{% endblock %}
